.App {
  *{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  background-image: url('\images/BackgroundMainHome.png');
  background-position: center;
  background-repeat: none;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  
:root {
  --red: #B70000;
  --black: #000000;
  --white: #F8F8F6;
  --saphire: #0353A4;
  --silver: #C2B8B2; 
}

.masterTitle{
  font-size: 70px;
  color: var(--black);
  text-shadow: 1px 1px var(--red)
  
}

.descriptionMasterTitle{
  font-size: 30px;
  color: var(--white);
  text-shadow: 1px 1px var(--silver)
}

.developerWord{
  font-size: 70px;
  color: var(--black);
  text-shadow: 1px 1px var(--red)
}